* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.lc-container {
	width: 75vh;
	height: 100vh;
	min-width: 400px;
	max-width: 1000px;
	min-height: 400px;
	margin: 0 auto;
	position: relative;
	display: flex;
    flex-direction: column;

}
.literally {
  	width: 100%;
  	height: 70vh;
  	position: relative;
}

.literally .lc-drawing.with-gui {
	border-right: 1px solid #555;
}
#wrapper {
	display: flex;
	flex-direction: column;
    flex-grow: 1;
}
#controls {
	margin: 5px auto 10px;
}
#controls fieldset {
    display: inline;
    padding: 0;
    border: 0;
}
button.controls {
	margin: 0 3px;
	padding: 3px;
}
#dropzoneToolbar {
	height: 32px;
	margin-left: 5px;
	margin-bottom: -2px;
	position: relative;
    z-index: 100;
}
#dropzoneToolbar button {
	width: 32px;
    height: 32px;
    min-height: 32px;
	margin-left: 10px;
    background-color: #e6e6e6;	
    background-size: cover;
	border: 2px dashed #555;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}
#pastebutton {
    background-image: url(../images/paste.png);
}
#startCropButton {
	background-image: url(../images/crop.png);
}
#finishCropButton {
	background-image: url(../images/check.png);
}
#pastebutton.no-dropzone {
	width: 32px;
    height: 32px;
    min-height: 32px;
	border: 1px solid #555;
	border-radius: 3px;
	float: left;
}
#dropzone {
	position: relative;
	margin: 0 auto;
	margin-bottom: 5px;
	flex-grow: 1;
    display: flex;
	min-height: 100px;
    align-items: center;
	background-color: #e6e6e6;
	border-radius: 5px;
	border: 2px dashed #555;
	padding: 10px;
	z-index: 0;
}
#dropzone span {
	color: #444;
}

#dropzoneOverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

div #dropzoneOverlay.dropped{
 	background-color: #e6e6e6;
}

div #dropzone.dragover {
	background-color: #fff;
	border: 2px dashed;
	border-color: #555;
}

div #dropzone.dropped {
	background-color: #fff;
	padding: 0;
}

@media only screen and (orientation: portrait) and (max-width: 1024px) {

	.lc-container {	
	width: 100%;
	margin: 0;
	}
}
