.lc-container {
	position: relative;
	width: 550px;
	margin: auto;
}
.literally {
  	width: 100%;
  	height: 80vh;
	min-height: 600px;
  	position: relative;
}
#controls {
	display: table;
	margin: auto;
}
button.controls {
	margin: 5px 3px;
	padding: 3px;
}
#dropzone {
	position: relative;
	height: 20vh;
	min-height: 200px;
	line-height: 20vh;
	background-color: #e6e6e6;
	border-radius: 5px;
	border: 2px dashed;
	border-color: #555;
	padding: 10px;
	text-align: center;
}
#dropzone span {
	vertical-align: middle;
	display: inline-block;
	color: #444;
	line-height: normal;
}

#dropzoneOverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

div #dropzone.dragover {
	background-color: #fff;
	border: 2px dashed;
	border-color: #555;
}

div #dropzone.dropped {
	padding: 0;
	text-align: left;
}
